<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/offline">
<head>
    <title>Домашняя страница</title>
</head>
<body>
    <main layout:fragment="content">
        <article class="container">
            <header class="row">
                <div class="col s12">
                    <h1 class="flow-text center">Описание</h1>
                    <p class="center">
                    Форум для Intech</p>
                </div>
            </header>
        </article>
    </main>
</body>
</html>