<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/online">
<!--/*@thymesVar id="user" type="com.intech.forum.entities.User"*/-->
<head>
    <title th:text="${user.getFirstname() }">Title of profile view</title>
</head>
<body>
    <main layout:fragment="content">
        <article class="container" style="padding: 3% 0 2%;">
            <header class="row">
                <div class="col s12">
                    <blockquote class="flow-text left" th:text="${user.getFirstname()} + | | + ${user.getSecondname()}">Профиль</blockquote>
                    <!--<blockquote class="flow-text right" th:text="|Points: | + ${points}">Commitment</blockquote>-->
                    <span class="badge" th:if="${user.getisAdmin()}" th:text="|Является администратором|" style="background-color: #ee6e73;"></span>

                </div>
            </header>

            <section class="row">
                <div class="col s12 m6">
                    <ul class="collection">

                        <li class="collection-item center">Персональный данные</li>

                       <li class="collection-item">
                            <span class="badge">
                                <span th:text="${user.getUsername()}">Логин</span>
                            </span>Логин:
                        </li>
                        <li class="collection-item">
                            <span class="badge">
                                <span th:text="${user.getFirstname()}">Имя</span>
                            </span>Имя:
                        </li>
                        <li class="collection-item">
                            <span class="badge">
                                <span th:text="${user.getSecondname()}">Фамилия</span>
                            </span>Фамилия:
                        </li>
                        <li class="collection-item">
                            <span class="badge">
                                <span th:text="${user.displayParsedDate()}">Дата создания профиля</span>
                            </span>Дата регистрации:
                        </li>
                    </ul>
                </div>
                <div class="col s12 m6">
                    <ul class="collection">
                        <li class="collection-item center strong">Активность</li>
                        <li class="collection-item">
                            <a th:href="@{'/topics/user/' + ${user.getId()}}" style="display: block; color: #26a69a">
                                <span class="badge">
                                    <span th:text="${numberOfTopics}"></span>
                                </span>Topics:
                            </a>
                        </li>
                        <li class="collection-item">
                            <a th:href="@{'/answers/' + ${user.getId()}}" style="display: block; color: #26a69a">
                                <span class="badge">
                                    <span th:text="${numberOfAnswers}"></span>
                                </span>Ответы:
                            </a>
                        </li>
                        <li class="collection-item">
                            <a th:href="@{'/answers/useful/' + ${user.getId()}}" style="display: block; color: #26a69a">
                                <span class="badge">
                                    <span th:text="${numberOfHelped}"></span>
                                </span>Помог:
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </article>
    </main>
</body>
</html>